/* || RESETS || */

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    appearance: none;
}

/* -------------------------------------------- */

* {
    box-sizing: border-box;
    font: 1em system-ui, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(256px, 1fr) 4fr;

    height: 100dvh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    background-color: hsl(201, 79%, 46%);
    padding-left: 12%;
}

.sidebar > ul > li {
    display: flex;
    align-items: center;
    gap: 20px;

    font: 600 1.2em / 2.6em system-ui, sans-serif;
    color: #fff;
}

svg {
    width: 30px;
    height: 30px;

    > path {
        fill: #fff;
    }
}

.sidebar > ul > li:first-of-type {
    font-size: 1.8em;
    margin-bottom: 32px;

    > svg {
        scale: 2;
    }
}

.sidebar > ul > li:nth-child(7) {
    margin-bottom: 48px;
}

.header {
    grid-column: 2 / 4;

    display: grid;

    background-color: hsl(0, 0%, 100%);
}

.header > ul {
    display: flex;
    justify-content: space-between;
}

.header > ul > li:nth-child(2) {
    display: flex;
}



.main-content {
    grid-column: 2 / 4;

    display: grid;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px;

    background-color: hsl(214, 32%, 91%);

}

.projects {
    grid-area: projects;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-template-rows: max-content;
    column-gap: 20px;
}

.projects > :first-child {
    grid-column: 1 / -1;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}
/* -------------------------------------------- */

/* || DEBUGGING || */

/* * {
    background: hsla(0, 0%, 0%, 0.1) !important;
} */

/* * {
    outline: 1px solid hotpink;
} */

/* * :nth-child(2n) {
    outline: 1px solid cyan;
} */

/* body {
    padding: 10px;
    margin: 10px;
    outline: 1px solid gray;
} */

/* -------------------------------------------- */
