* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font: 1em / 1.6 system-ui, sans-serif;
}

/* Debugging */
* {
    background: hsla(0, 0%, 0%, 0.1) !important;
}

* {
    outline: 1px solid hotpink;
}

*:nth-child(2n) {
    outline: 1px solid cyan;
}

body {
    padding: 60px;
    margin: 60px;
}
